<!-- About Section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">同飞沿革</h2>
          <h3 class="section-subheading text-muted">同飞制冷是集科研、开发、制造、销售、服务为一体的高新技术企业。</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2013</h4>
                  <h4 class="subheading">“同飞路”和“同飞桥”改建工程顺利竣工</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">        2013年，三河市市委、市政府加大对市容市貌、投资环境的改善，提高自身的软实力建设，支持优秀企业的健康发展。对“同飞路”进行了全面修缮，并对过去多年的危桥进行了重新加宽设计、建造，冠名“同飞桥”。2013年11月8日，历时6个月的“同飞路”、 “同飞桥”改建工程项目顺利竣工，全线贯通。 </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2017年3月</h4>
                  <h4 class="subheading">研发中心通过验收</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">“河北省工业制冷装备工程技术研究中心”依托三河同飞制冷股份有限公司建设，共建单位为北华航天工业学院。该中心于2017年3月通过了河北省科技厅、河北省财政厅、河北省发改委组织的“建设项目可行性”论证，并与河北省科技厅正式签订了《河北省工程技术研究中心建设项目计划任务书》。</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2019年9月</h4>
                  <h4 class="subheading">汉诺威机床展</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted"> 2019年9月，德国汉诺威EMO国际机床展将在德国汉诺威国际展览中心举行，我公司及其德国全资子公司ATF携其新款环保冷媒R32水冷却机，以及控温精度±0.05K变频技术制冷设备亮相此次展会，为装备制造业提供高精度、环保节能和智能化的热管理解决方案和产品。</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h3>优质<br>合作<br>伙伴</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>