<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">产品简介</h2>
                    <h3 class="section-subheading text-muted">三河同飞制冷股份有限公司是集科研、开发、制造、销售、服务为一体的高新技术企业。</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mixcloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">冷却机</h4>
                    <p class="text-muted">冷却机是一种通过蒸汽压缩或吸收式循环达到制冷效果的机器。液体流过热交换器到达对空气或设备降温的目的。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">热交换器</h4>
                    <p class="text-muted">用来使热量从热流体传递到冷流体，以满足规定的工艺要求的装置，是对流传热及热传导的一种工业应用。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">湿度调节器</h4>
                    <p class="text-muted">由进风扇将潮湿空气抽入机内，经过制冷系统相互作用下疑结成霜，系统自动升温化霜成水流入盛水箱，产生出干燥空气排出，如此循环使室内湿度降低，潮湿空间逐步达到干燥的效果。</p>
                </div>
            </div>
        </div>
    </section>